<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <title>PS&Modifydata</title>
    <script src='../../../resources/js/modifydata.js'></script>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        校園心裏輔導系統
                        <small>忘记密码</small>
                    </h1>

                </div>
                <hr>
            </div>
            <div class="col-md-12 column">

            </div>
        </div>
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        忘记密码
                    </h3>
                </div>
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li><a href="#find" data-toggle="tab">忘记密码</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="find">
                            <form role="form" class="form-horizontal" method="post" action="/forgetPassword" id="forgetPass">
                                <input type="hidden" name="token" value="${token}"/>
                                <div class="form-group">
                                    <label for="userEmailinput">邮箱</label>
                                    <input type="text" name="userEmail" id="userEmailinput" class="form-control">
                                    <span class="error"></span>
                                </div>
                                <div class="CTA">
                                    <button onclick="forgetPass()"  value="提交" class="btn btn-default">提交</button>
                                </div>
                                <div>
                                    <p id="message"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>


</body>
</html>
