<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <title>PS&ModifyPassword</title>
    <script src='../../../resources/js/modifydata.js'></script>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        校園心裏輔導系統
                        <small>修改密码</small>
                    </h1>

                </div>
                <hr>
            </div>
            <div class="col-md-12 column">

            </div>
        </div>
        </br>
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        修改密码
                    </h3>
                </div>
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs">
                        <li><a href="#modify" data-toggle="tab">修改密码</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <!-- End Signup Form -->
                        <div class="tab-pane fade in active" id="modify">
                            <form role="form" class="form-horizontal" enctype="multipart/form-data" >
                                <input type="hidden" name="token" value="${token}"/>
                                <div class="form-group">
                                    <label for="modifyinput1">邮箱</label>
                                    <input type="text" name="userEmail" id="modifyinput1" class="form-control">
                                    <span class="error"></span>
                                </div>
                                <div class="form-group">
                                    <label for="modifyinput2">密码</label>
                                    <input type="password" name="Password" id="modifyinput2" class="form-control">
                                    <span id="passerror"></span>
                                </div>
                                <div class="form-group">
                                    <label for="modifyinput3">确认密码</label>
                                    <input type="password" name="passwordCon" id="modifyinput3" class="form-control">
                                    <span class="error"></span>
                                </div>
                                <div class="CTA">
                                    <button onclick="modifyPassword()" class="btn btn-default" type="button">修改密码</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>


</body>
</html>
