<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <link rel='stylesheet' href='../../../resources/css/indextest.css'/>
    <script type="text/javascript" src="../../../resources/js/index.js"></script>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!-- 可选的Bootstrap主题文件（一般不使用） -->

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->

    <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
</head>
<body>

<div class="title header-wrap1">
    <div id="look11">
        <h2><strong>校园心理辅导系统</strong></h2>
        <h1 th:text="${session.name}!=null?'hello,'+${session.name}+'!':'Hello,pls login!'"></h1>
        <h4>chose u want:</h4>
        <a href="login" th:class="${session.name!=null?'hidden':''}">登录</a>
        <a href="modifydata">完善信息</a>
        <a href="managerhome" th:class="${session.role==3?'':'hidden'}" >管理页面</a>
        <a href="notice">站內公告</a>
        <a href="psychtest">心理测试</a>
        <a href="article" >更多文章</a>
        <a href="booked" th:class="${session.name!=null?'':'hidden'}">在线预约</a>
        <a href="logout" th:class="${session.name!=null?'':'hidden'}">退出</a>
    </div>
</div>


<div class="content-container">
    <div class="content-block">
        <div class="afb one">
        </div>
        <div class="text">
            <h1>心理社区</h1>
            <p>
                心理是指人内在符号活动梳理的过程和结果。具体是指生物对客观物质世界的主观反映心理的表现形式叫做心理现象，包括心理过程和心理特性，人的心理活动都有一个发生，发展，消失的过程。人们在活动的时候，通过各种感官认识外部世界事物，通过头脑的活动思考着事物的因果关系，并伴随着喜、怒、哀、惧等情感体验。这折射着一系列心理现象的整个过程就是心理过程。按其性质可分为三个方面，即认识过程、情感过程和意志过程，简称知、情、意。 </p>
            <a href="chatMain">聊天室</a>
            <a href="moreKnowledge">更多相关</a>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content-block">

        <div class="afb two" onmouseover="over()" onmouseout="out()"></div>

        <div class="text">
            <h1>心理测试</h1>
            <p>近年来还发现，通过心理测验，被测验人可以依照常模选择强化自己的职业气质类型和职业心理特征，
                锻练提升相应的专项能力，能够使被测验人全面提升身心素质，充分整合自身优势，
                在促进自身发展和社会贡献方面发挥极大的作用。 </p>
            <a href="http://mbit01.sinaapp.com/">MBIT职业测试</a>
            <a href="morePsychtest">更多相关</a>
        </div>
    </div>
</div>


</body>

</html>
