<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/resourceLink :: resourceLink"></div>
    <script type="text/javascript" src="../../../resources/js/testlink.js"></script>
    <title>PS&psychtest</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-8 column col-md-offset-2">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="page-header">
                                <h1>
                                    校園心裏輔導系統
                                    <small>在线心理测试</small>
                                </h1>

                            </div>
                            <hr>
                        </div>
                        <div class="col-md-12 column">
                            <div class="navbar navbar-inverse" th:replace="fragments/headmanager :: headmanager">
                            </div>
                        </div>
                    </div>
                    </br>

                    <div class="row clearfix" th:each="user,userStat:${testlinkList}">

                        <div class="col-md-12 column ">
                            <div class="media well">
                                <!--<a class="pull-left" href="#"> <img th:src="${user.linkImg}" class="img-circle" onload="AutoResizeImage(50,50,this)"></a>-->

                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" th:href="@{${user.linkPath}}">
                                            <img th:src="${user.linkImg}" onload="AutoResizeImage(60,60,this)" class="img-circle" >
                                        </a>
                                    </div>
                                    <a class="pull-left" th:href="@{${user.linkPath}}">
                                        <h4 class="media-heading" th:text="${user.linkTitle}">
                                            Nested media heading
                                        </h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>