<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC:war exploded">
    <output-path>E:/spring-shiro-master/target/springMVC</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-all:1.2.3" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-guice:1.2.3" />
          <element id="library" level="project" name="Maven: com.google.guava:guava:r09" />
          <element id="library" level="project" name="Maven: com.google.inject:guice:3.0" />
          <element id="library" level="project" name="Maven: javax.inject:javax.inject:1" />
          <element id="library" level="project" name="Maven: com.google.inject.extensions:guice-multibindings:3.0" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-core:1.2.3" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.4" />
          <element id="library" level="project" name="Maven: commons-beanutils:commons-beanutils:1.8.3" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-web:1.2.3" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-quartz:1.2.3" />
          <element id="library" level="project" name="Maven: org.opensymphony.quartz:quartz:1.6.1" />
          <element id="library" level="project" name="Maven: org.apache.shiro:shiro-spring:1.2.5" />
          <element id="library" level="project" name="Maven: net.sf.json-lib:json-lib:jdk15:2.4" />
          <element id="library" level="project" name="Maven: commons-collections:commons-collections:3.2.1" />
          <element id="library" level="project" name="Maven: commons-lang:commons-lang:2.5" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.1.1" />
          <element id="library" level="project" name="Maven: net.sf.ezmorph:ezmorph:1.0.6" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="E:/spring-shiro-master/target/springMVC/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springMVC/web/Web" />
    </root>
  </artifact>
</component>