<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <!-- 添加日志监听器 最上面？-->
  <context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>classpath:logback.xml</param-value>
  </context-param>
  <listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </listener>


  <!--中文编码过滤器-->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>


<!--  <display-name></display-name>-->
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/front/index.html</welcome-file>
  </welcome-file-list>
 <!-- <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
  </welcome-file-list>-->
  <!--Spring文件配置-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring.xml</param-value>
  </context-param>



  <!--&lt;!&ndash; shiro 安全过滤器 &ndash;&gt;-->
  <!--&lt;!&ndash; The filter-name matches name of a 'shiroFilter' bean inside applicationContext.xml &ndash;&gt;-->
  <!--<filter>-->
    <!--<filter-name>shiroFilter</filter-name>-->
    <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
    <!--<async-supported>true</async-supported>-->
    <!--<init-param>-->
      <!--<param-name>targetFilterLifecycle</param-name>-->
      <!--<param-value>true</param-value>-->
    <!--</init-param>-->
  <!--</filter>-->

  <!--&lt;!&ndash; Make sure any request you want accessible to Shiro is filtered. /* catches all &ndash;&gt;-->
  <!--&lt;!&ndash; requests.  Usually this filter mapping is defined first (before all others) to &ndash;&gt;-->
  <!--&lt;!&ndash; ensure that Shiro works in subsequent filters in the filter chain:             &ndash;&gt;-->
  <!--<filter-mapping>-->
    <!--<filter-name>shiroFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
  <!--</filter-mapping>-->

  <!--spring容器加载监听器-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--springmvc配置-->
  <servlet>
    <servlet-name>spring_mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>spring_mvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!--配置thymeleaf一定要加这个啊啊啊啊　不然404传不到给Controller !!! -->
  <servlet-mapping>
    <servlet-name>spring_mvc</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

<!--
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error/500.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NullPointerException</exception-type>
    <location>/WEB-INF/views/error/NullPointer.html</location>
  </error-page>
  <error-page>
    <exception-type>org.apache.commons.fileupload.FileUploadException</exception-type>
    <location>/WEB-INF/views/error/FileUploadError.html</location>
  </error-page>-->


  <!-- Map all errors to Spring MVC handler method. See CustomErrorController.generalError() -->
  <error-page>
    <location>/generalError</location>
  </error-page>
  <error-page>
    <exception-type>javax.mail.SendFailedException</exception-type>
    <location>/WEB-INF/views/error/SendFailedException.html</location>
  </error-page>



</web-app>
