<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="navbar navbar-inverse" th:fragment="header">
			<div class="navbar-header">
				<a class="navbar-brand">
					<img th:src="@{/resources/images/logo.png}" />
				</a>
				<ul class="nav navbar-nav visible-xs-block">
					<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
					<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
				</ul>
			</div>
			
			<div class="navbar-collapse collapse" id="navbar-mobile">
				<ul class="nav navbar-nav">
					<li>
						<a class="sidebar-control sidebar-main-toggle hidden-xs">
							<i class="icon-paragraph-justify3"></i>
						</a>
					</li>
					<li class="dropdown" >

                       <!-- th:if="${session.Update != null}">-->
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<i class="icon-git-compare"></i>
							<span class="visible-xs-inline-block position-right">Git的更新</span>
							<span class="badge bg-warning-400">9</span>
						</a>
						
						<div class="dropdown-menu dropdown-content">
							<div class="dropdown-content-heading">
								Git的更新
								<ul class="icons-list">
									<li><a href="#"><i class="icon-sync"></i></a></li>
								</ul>
							</div>
	
							<ul class="media-list dropdown-content-body width-350">
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
									</div>
	
									<div class="media-body">
										降IE <a href="#">具体黑客</a>的时间投入
										<div class="media-annotation">4分钟前</div>
									</div>
								</li>
	
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
									</div>
									
									<div class="media-body">
										添加字体全覆盖的popovers和工具提示
										<div class="media-annotation">36分钟前</div>
									</div>
								</li>
	
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
									</div>
									
									<div class="media-body">
										<a href="#">克里斯Arney</a>创建了一个新<span class="text-semibold">设计</span>的分支
										<div class="media-annotation">2小时前</div>
									</div>
								</li>
	
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
									</div>
									
									<div class="media-body">
										<a href="#">尤金Kopyov</a>合并<span class="text-semibold">硕士</span>和<span class="text-semibold">开发</span>分公司
										<div class="media-annotation">12月18日，18:36</div>
									</div>
								</li>
	
								<li class="media">
									<div class="media-left">
										<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
									</div>
									
									<div class="media-body">
										有旋转木马忽略键盘事件
										<div class="media-annotation">12月12日，05:46</div>
									</div>
								</li>
							</ul>
	
							<div class="dropdown-content-footer">
								<a href="#" data-popup="tooltip" title="" data-original-title="All activity"><i class="icon-menu display-block"></i></a>
							</div>
						</div>
					</li>
				</ul>
				<p class="navbar-text"  >
					<span class="label bg-success">线上</span>
				</p>
				<p class="navbar-text"  sec:authorize="hasAnyRole('ROLE_ADMIN')">
					<a class="label bg-success" th:href="@{/tobusiness}">切换</a>
				</p>
				<div class="navbar-right">
					<ul class="nav navbar-nav">

						<li class="dropdown dropdown-user">
							<a class="dropdown-toggle user_nav" data-toggle="dropdown">
								<img th:src="@{/resources/images/user.png}" alt="">
								<!--<span th:text="${#authentication.Principal.nickname != '' ? #authentication.Principal.nickname :#authentication.getName()}"></span>-->
								<i class="caret"></i>
							</a>

							<ul class="dropdown-menu dropdown-menu-right">
								<li><a th:href="@{/qualifyUserInfo}"><i class="icon-user-plus"></i> 我的信息</a></li>
								<!--<li th:if="${session.Update != null}"><a href="#"><i class="icon-coins"></i>我的余额</a></li>
								<li th:if="${session.Update != null}"><a href="#"><i class="icon-cog5"></i>充值/提现</a></li>-->
								<li><a href="/logout" th:href="@{#}" onclick="$('#form').submit();"><i class="icon-switch2"></i> 退出</a>
									<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
